---
---

$sans-serif: 'Noto Sans KR';
$monospace: 'Ubuntu Mono';
$type-size-4-5: 1.12em !default; // Ubuntu Mono is a bit small

@charset "utf-8";
@import "devlopr";

@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR|Ubuntu+Mono);

html {
  font-size: 12px;
}

.highlight {
  font-family: $monospace;
  font-size: $type-size-4-5;
}

